<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

  {{!-- Navbar --}}
{{> navbar}}
  {{!-- Body --}}
    <div class="container mt-5">
      {{{body}}}
    </div>
{{!-- Foo --}}
      {{>footer}}
</body>
</html>