<div class="form-signin w-75 m-auto text-center">
  <form action="/add-products" method="post">
    <i class="bi bi-airplane-engines fs-1 text-danger"></i>
    <h1 class="h3 mb-3 fw-normal">Add new Items</h1>
  
      {{#if addProductError}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{addProductError}}.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{/if}}
  
    <div class="form-floating mb-3">
      <input name="title" type="text" class="form-control" id="floatingInput" placeholder="product name">
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
        <textarea name="description" class="form-control" style="height: 200px;" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input name="image" type="text" class="form-control" id="floatingPassword" placeholder="Image">
      <label for="floatingPassword">Image</label>
    </div>
    <div class="form-floating mb-3">
      <input name="price" type="number" class="form-control" id="floatingInput" placeholder="price">
      <label for="floatingInput">Price</label>
    </div>

    <button class="btn btn-primary w-50 py-2" type="submit">Add product</button>
    <a class="btn btn-outline-danger w-25 py-2" href="/">Cancel</a>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
</div>